#main {
    display: block;
    height: 100%;
    overflow: hidden;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, arial, sans-serif;
}

#main-content {
    height: calc(100vh - 48px);
    display: flex;
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(0,0,0,.6);
}

.btn:hover {
    color: #111;
    background: rgba(0,0,0,.05);
}

.btn-danger {
    color: #fff;
    background-color: #ee615ccb;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ec423c;
}

.btn-danger:focus {
    color: #fff;
    outline-color: #c40c05;
}

#top-nav {
    display: flex;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 999;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.right-menu {
    margin-left: auto;
}

#user-email-heading {
    padding: 4px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: larger;
    display: inline-block;
}

#sidebar {
    width: 400px;
    float: left;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

#search-notes-box-container {
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

#search-notes-box {
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 18px;
    width: 95%;
    display: flex;
}

#search-input {
    border: none;
    width: 100%;
    background-color: transparent;
}

.search-icon {
    padding-left: 8px;
    padding-right: 8px;
    color: #00000067;
}

.fa-search {
    cursor: pointer;
}

#search-input:focus {
    outline: none;
}

.search-input-container {
    width: 90%;
}

#note-family {
    overflow-y: auto;
    height: 100%;
}

.note-row {
    display: flex;
    height: 48px;
    padding: 8px;
}

/* Not working mp... try to use js */
/* .note-row:focus {
    background-color: #d3d2d2;
} */

.note-date {
    float: right;
    margin-left: auto;
    font-size: smaller;
    min-width: 48px;
    color: #00000077;
}

.note-title {
    font-size: larger;
}

.is--active {
    background-color: #cecdcd80;
}

.hoverable:hover {
    background-color: #f7f7f7bd;
}

#note-description-content {
    margin: 8px 16px;
    padding: 16px;
    overflow-y: auto;
}
