#main {
  display: block;
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-direction: column;
}

@media (min-width: 720px) {
  #main {
    overflow: hidden;
  }
}

a {
  text-decoration: none !important;
}

html {
  box-sizing: border-box;
  height: 100%;
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, arial, sans-serif;
  cursor: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, arial, sans-serif;
}

#main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.small-box {
  margin: auto;
  max-width: 600px;
  padding: 32px 24px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.btn {
  display: inline-block;
  padding: 5px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgb(231, 228, 228);
  color: rgba(0, 0, 0, 0.6);
}

.btn:hover {
  color: #111;
  background: rgb(209, 209, 209);
}

.btn-danger {
  color: #fff;
  background-color: #e91919b2;
}

.btn-danger:hover {
  color: #fff;
  background-color: #ec423c;
}

.btn-danger:focus {
  color: #fff;
  outline-color: #c40c05;
}

.btn-primary {
  color: #fff;
  background-color: #0081faa6;
}

.btn-primary:hover {
  color: #fff;
  background-color: #006cfaf6;
}

.btn-primary:focus {
  color: #fff;
  outline-color: #4c00ff;
}

#top-nav {
  display: flex;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 999;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#top-nav-items,
#top-nav-wrap {
  display: flex;
  width: 100%;
}

#top-nav-toggler {
  margin-left: auto;
  display: none;
}

#top-nav .btn {
  margin: 0 4px;
}

.right-menu {
  margin-left: auto;
}

#user-email-heading {
  padding: 4px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: larger;
  display: inline-block;
}

#sidebar-toggler {
  margin: 0px 15px -8px 2px;
}

#sidebar-toggler img {
  cursor: pointer;
  width: 33px;
  height: 33px;
}

#sidebar {
  width: 26%;
  min-width: 15vw;
  flex: none;
  float: left;
  height: 100%;
  padding-top: 0px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

#search-notes-box-container {
  display: flex;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 8px;
  margin-right: 8px;
}

#search-notes-box {
  padding: 8px;
  background-color: #f7f7f7;
  border-radius: 18px;
  width: 95%;
  display: flex;
}

#search-input {
  border: none;
  width: 100%;
  background-color: transparent;
}

.search-icon {
  padding-left: 8px;
  padding-right: 8px;
  color: #00000067;
}

.fa-search {
  cursor: pointer;
}

#search-input:focus {
  outline: none;
}

.search-input-container {
  width: 90%;
}
.dark .search-input-container ::placeholder {
  color: #bdbcbc;
}

#note-family {
  border-top: 1px #e1e4e8 solid;
  overflow-y: auto;
  flex: 1;
}

.note-row {
  display: flex;
  height: 48px;
  padding: 8px;
}

/* Not working mp... try to use js */
/* .note-row:focus {
    background-color: #d3d2d2;
} */

.note-date {
  float: right;
  margin-left: auto;
  font-size: smaller;
  min-width: 48px;
  color: #00c0ff;
}

.note-title {
  font-size: larger;
}

.is--active {
  background-color: #cecdcd80;
}

.hoverable:hover {
  background-color: #f7f7f7bd;
}

#main-content-main {
  height: 100%;
  padding: 0 8px;
  flex: 3 2 auto;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
}

#note-description-content {
  overflow-y: auto;
  height: 100%;
  padding: 16px;
  padding-top: 0px;
  border: 1px solid #e1e4e8!important;
  border-radius: 4px;
  word-break: break-word;
}

#note-description-preview {
  overflow-y: auto;
  height: 100%;
  padding-top: 0px;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  border: 0;
  border-radius: 4px;
  /* box-shadow: 2px 4px 25px rgba(0,0,0,.15); */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  overflow-wrap: normal;
}

pre code {
  padding: 0;
  font-size: inherit;
  white-space: pre-wrap;
  background-color: transparent !important;
  border-radius: 0;
}

#logo-header {
  margin-top: -16px;
  margin-bottom: -20px;
  padding-right: 16px;
  width: 64px;
  height: 64px;
}

#logo-header img {
  height: 100%;
  width: 100%;
}

#tab-nav {
  margin-top: 12px;
  padding: 0px 16px;
  display: flex;
}

#split-btn {
  height: 20px;
  width: 20px;
  padding: 10px;
  margin-bottom: -12px;
  cursor: pointer;
}

#right-tab-menu div {
  display: inline-block;
  margin: 0 8px;
}

.tab {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  text-decoration: none;
  background-color: initial;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  width: 64px;
  text-align: center;
}

.tab-active {
  background-color: #fff;
  border-color: #d1d5da;
  border-radius: 3px 3px 0 0;
}

#typing-img {
  width: 54px;
  height: 33px;
  margin-bottom: -8px;
}

#saved-img {
  width: 33px;
  height: 33px;
  margin-bottom: -8px;
}

#share-img {
  cursor: pointer;
  margin-bottom: -6px;
  width: 28px;
  height: 28px;
}

#download-img {
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin-bottom: -6px;
}

#note-description-editor {
  resize: none;
  height: 97%;
  width: 95%;
  padding: 8px;
  border: none;
  word-break: break-word;
}

#note-description-editor:focus {
  border-radius: 4px;
  outline: none;
}

#right-tab-menu {
  margin-left: auto;
}

#right-tab-menu {
  display: inline;
}

#right-tab-menu {
  padding-left: 8px;
}

#right-tab-menu .btn {
  margin: 0 2px;
}

/* For modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#delete-modal .modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 20px;
  width: 80%;
}

.close {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.modal-footer {
  text-align: right;
  padding: 8px;
}

.modal-footer .btn {
  padding: 8px 16px;
  margin: 0px 4px;
}

#edit-note-title-box {
  position: absolute;
  color: black;
  background-color: #fff;
  z-index: 1000;
  padding: 16px;
  margin: 21px 0px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#edit-note-title-box h3 {
  margin: 0px 8px;
}

#edit-note-title-box:before {
  display: block;
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  width: 0;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: #f2f3f3 transparent;
  z-index: 0;
}

#edit-note-title-box:after {
  display: block;
  content: "";
  position: absolute;
  top: -19px;
  left: 20px;
  width: 0;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: #fff transparent;
  z-index: 1;
}

#edit-note-title-input {
  padding: 4px;
  font-size: larger;
  margin: 16px 8px;
}

#startup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
}
.lds-ellipsis div {
  position: absolute;
  top: 55px;
  width: 13px;
  height: 13px;
  border: 1px solid black;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* For the dark theme */
/* Add the dark class to the body and and then define for each of them here */
.dark #main {
  background: #2b2b2b;
}

.dark .small-box {
  padding: 32px 20px;
  background: rgba(0, 0, 0, 0.13);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.dark #top-nav {
  background: #1b1a1a;
  border-color: #131313;
  color: #ffffff;
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
}

.dark .btn {
  color: #798499;
}

.dark .btn:hover {
  color: #6ab0f3;
}

.dark .btn-danger:hover {
  color: #f36a6a !important;
}

.dark .btn:focus {
  outline: #000000 solid 1px !important;
}

.dark #top-nav .btn {
  background: transparent;
  color: #59acbf;
}

.dark #top-nav .btn-danger {
  color: #f36a6a;
}

.dark #top-nav .btn:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #6ab0f3;
}

.dark #sidebar {
  background-color: #202020;
  background: #202020;
  color: #b3b9c5;
}

.dark .hoverable:hover {
  background: #303030 !important;
  border-color: #303030;
}

.dark .is--active {
  background: #131313 !important;
  color: #6ab0f3;
}

.dark .note-date {
  color: #fed356;
}

.dark #search-input {
  color: white;
}

.dark #search-notes-box {
  color: #b3b9c5;
  border: 2px solid #444;
  background: #333 !important;
}

.dark #main-content-main {
  border-color: #3a3a3a;
  color: #b3b9c5;
  box-shadow: none;
}

.dark #tab-nav {
  background: #2b2b2b;
  border-color: #2b2b2b;
  color: #ffffff;
}

.dark #tab-nav .btn {
  background: #1b1b1b;
}

.dark #tab-nav .btn:hover {
  background: #0f0f0f;
}

.dark #main-content {
  background-color: #2b2b2b;
  background: #2b2b2b;
}

.dark .tab {
  color: #798499;
}

.dark .tab:hover {
  background-color: #1a1a1a;
  background: #1a1a1a;
}

.dark .tab-active {
  background: rgba(0, 0, 0, 0.3);
  border: #2b2b2b !important;
  color: #6ab0f3;
}

.dark .tab-active:hover {
  background: rgba(0, 0, 0, 0.3);
  border: #2b2b2b !important;
}

.dark #note-description-content {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #2b2b2b !important;
}

.dark #note-description-preview {
  border: 1px solid #2b2b2b !important;
}

.dark #note-description-editor {
  border: 1px solid #2b2b2b !important;
  background: rgba(0, 0, 0, 0.3);
  color: #b3b9c5;
}

.dark pre {
  background-color: #111111;
  background: #111111;
}

.dark a {
  color: #6ab0f3;
}

.dark h1,
.dark h2,
.dark h3 {
  color: white;
}

.dark h4,
.dark h5,
.dark h6 {
  color: #fed356;
}

.dark code {
  background-color: #000;
  color: #00ffaa;
}

.dark #edit-note-title-box input {
  color: #b3b9c5;
  border: 2px solid #444;
  background: #333 !important;
}

.dark #edit-note-title-box {
  background: #272727;
}

.dark #edit-note-title-box:after {
  border-color: #272727 transparent;
}

.dark #edit-note-title-box:before {
  border-color: #202020 transparent;
}

.dark #user-email-heading {
  color: #6ab0f3;
}

/* Code highlight style for dark mode */
.dark .hljs-keyword {
  color: #eb0f08;
}

.dark .hljs-value {
  color: #bdf3ee;
}

.dark .modal-content {
  color: #f84e4e;
  background-color: #090909 !important;
}

.dark .modal-footer .btn {
  background: #191919;
}

.dark .modal-footer .btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.dark hr {
  color: black;
  border: 1px #797979 solid;
  background: black;
}

.dark #note-family {
  border-top: 1px #797979 solid;
}

#dark-switcher:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #6ab0f3;
}

img {
  max-width: 100% !important;
}

@media (max-width: 1000px) {
  #user-email-heading {
    display: none;
  }
}

.dark #note-description-editor:focus {
  outline: 1px solid rgba(0, 0, 0, 0.6) !important;
}

.dark strong {
  color: #e0c6c6;
}

.dark search-placeholder-text {
  color: coral;
}

red {
  color: #eb0f08;
}

blue {
  color: #6ab0f3;
}

yellow {
  color: #fed356;
}

green {
  color: #00ffaa;
}

/** Starting here for mobile friendliness */
@media (max-width: 720px) {
  #top-nav-items,
  #top-nav-wrap {
    flex-direction: column;
    flex-flow: column;
  }

  #top-nav-items {
    transition: height 1s;
    height: fit-content;
  }

  #top-nav-items .btn {
    margin: 8px;
  }

  .top-nav-hide {
    display: none !important;
  }

  #top-nav-toggler {
    display: block;
  }

  .gutter-horizontal {
    width: 0 !important;
  }
} /* // End of mobile one */

@media (min-width: 720px) {
  /* For scrollbar for both the views */
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.hide-sidebar {
  min-width: 0 !important;
  width: 0 !important;
}

.sidebar-animate {
  transition: all 0.5s;
}

.split,
.gutter.gutter-horizontal {
  float: left;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.force-block {
  display: block !important;
}

#split-view-holder {
  flex: 1;

  /* Height is just added dummy here for flex to work*/
  height: 10px;
}

.pflex-view {
  display: flex;
}

.pflex-view #note-description-content {
  flex: 1;
  display: block !important;
}

.pflex-view #note-description-preview {
  flex: 1;
  display: block !important;
}

/** For the new editor */
.editor-toolbar {
  position: sticky !important;
  top: 0;
  z-index: 42;
}

.dark .editor-toolbar {
  background: #060505;
  opacity: 1;
  border: none;
}

.dark .editor-toolbar a {
  color: #fff !important;
}

.dark .editor-toolbar a.active,
.dark .editor-toolbar a:hover {
  background: transparent !important;
}

/** Custome dark theme for codeMirror */
.dark .CodeMirror {
  color: #b3b9c5;
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

.dark .CodeMirror-cursor {
  border: 1px solid #fff;
}

#delete-img {
  width: 33px;
  height: 33px;
  margin-bottom: -8px;
  cursor: pointer;
}

.CodeMirror-selected {
  background-color: #f35e18 !important;
}

.CodeMirror-selectedtext {
  color: white;
}

.CodeMirror-line {
  box-shadow: none;
}