body {
    background-color: aqua !important;
    overflow-y: scroll;
}

#message {
    background: #f2f5f4;
    max-width: 800px; 
    margin: 32px auto 16px; 
    padding: 32px 24px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.heading { 
    color: #ffa100;
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 8px;
}
/* Hide the sign out button and show this when signed in! */
#signOutButton {
    display: none;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,0.2);
}

#signInButton {
    display: none;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,0.2);
}

#addNoteButton {
    display: none;
    margin-right: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,0.2);
}

#note-family {
    margin-top: 30px;
}

.noterow {
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    border: 0;
    margin-top: 20px;
    padding: 14px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

/* Hide the note key */
.notekey { 
    display: none;
}

.note-date {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.expand-toggler-icon {
    float: right;
}

.note-title {
    margin-top: 0px !important;
}

/* Showing line gap in note description and next liness */
.note-description {
    white-space: pre-line;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: auto !important;
}
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* For submit button */
#add-note-submit-button { 
    background-color: #17b8b8; 
    color: white; 
    margin: 4px 0; 
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none; 
    cursor: pointer;
    border-radius: 0.25em;
}

#add-description{
    height: 400px;
    white-space: pre-line;
}

.update-note-button {
    float: right;
    margin-left: 4px;
    margin-right: 4px;
}

.remove-note-button {
    float: right;
    margin-left: 4px;
    margin-right: 4px;
}