<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags and title -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pnotes</title>

    <link rel="icon" href="article-24px.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="article-24px.svg" type="image/svg+xml">

    <!-- Firebase Scripts, currently using app, auth and database for right now! -->
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.14.4/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.14.4/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.14.4/firebase-database.js"></script>
    <!-- <script defer src="/__/firebase/7.14.4/firebase-messaging.js"></script> -->
    <!-- <script defer src="/__/firebase/7.14.4/firebase-storage.js"></script> -->
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>

    <!-- Stylesheets -->
    <style media="screen">
      @media (max-width: 600px) {
        body, #message { margin-top: 0; background: white; box-shadow: none; }
      }
    </style>

    <link rel="stylesheet" href="/css/style.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

    <!-- this line tells which firebase services are loaded or say using here! -->
    <!-- Check script below which tells about the services -->
    <!-- <p id="load">Firebase SDK Loading&hellip;</p> -->

    <script src="/js/JustAfterBody.min.js"></script>
 
    <!-- Main content -->
    <div class="container">

        <div id="message">
            <span class="heading" id="guser"> Weclome to Pnotes!</span>
            <button onclick="signInfunction()" class='btn btn-success pull-right' id="signInButton">Google Sign In!</button>
            <button onclick="signOutfunction()" class='btn btn-danger pull-right' id="signOutButton">Sign out</button>
            <button class='btn btn-primary pull-right' id="addNoteButton" onclick=openAddNoteModal()>Add Note</button>

            <div id="note-family">
            </div>
        </div>

        <!-- The Add and delete Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">

                <!-- Heading and close button -->
                <span class="close" style="padding-top: 4px; font-size: 30px;">&times;</span>
                <!-- Submit Button --> <!-- Changed it to have it only for function -->
                <div style="padding-bottom: 50px">
                    <h3 style="margin-top: 5px !important; float: left;">Add Note</h3>
                    <button id="add-note-submit-button" style="float: right; margin-right: 16px;">Add Note</button>
                </div>
                

                <!-- Function to add a note-->

                    <!-- Title -->
                    <div class="form-group">
                        <input id="add-title" type="text" class="form-control input-contrast input-block" placeholder="Note Title">
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <textarea id="add-description" type="text" class="form-control input-contrast input-block" placeholder="Add Note Description here"></textarea>
                    </div>
                
            </div>
        
        </div>

        <!-- The delete Modal -->
        <div id="deleteModal" class="modal" style="padding-top: 200px;">

            <!-- Modal content -->
            <div class="modal-content" style="max-width: 400px;">
                <!-- Heading and close button -->
                <span class="close">&times;</span>
                <h3 style="margin-top: 5px !important;">Delete Note Warning</h3>
                <p>Are You Sure You want to Delete this Note?<p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel">Close</button>
                    <button type="button" class="btn btn-primary confirm-delete">Delete Note</button>
                  </div>
            </div>

        </div>

    </div>

    <script src="/js/JustBeforeBody.min.js"></script>
  </body>
</html>
