<!DOCTYPE html>
<html>
  <head>
    <%- include('include/desktop-header'); %>
  </head>
  <body class="<%= theme %>">

    <!-- Script just after body -->
    <script>var md=new Remarkable({html:!0,xhtmlOut:!0});function viewMobileSite(){window.location.href="/mobile"}document.addEventListener("DOMContentLoaded",function(){window.signInEmail="anonymousNotSigned";window.currentNote="",window.editor={id:"",title:"",description:""},console.log("anonymousNotSigned"),firebase.database().ref("anonymousNotSigned").orderByChild("timestamp").on("value",function(e){var o=[];e.forEach(function(e){var t=e.key,n=e.val();o.push({childKey:t,childData:n})}),o.reverse(),window.notesData={};var t=document.getElementById("note-family");if(t.innerHTML="",noteFamilyString="",o.forEach(function(e){var o=e.childKey,t=e.childData;noteFamilyString+='<div id="'+o+'" class="note-row hoverable" onclick=doOnNoteClick(this) ><div class="note-title">'+t.title+'</div><div class="note-date">'+t.date+"</div></div>",window.notesData[o]={description:t.description,title:t.title}}),t.innerHTML=noteFamilyString,window.currentNote)try{document.getElementById(window.currentNote).classList.add("is--active"),document.getElementById(window.currentNote).classList.remove("hoverable")}catch(e){console.log("Ignore this error, comes at time of delete",e.toString)}addNotefunction=((e,o)=>{console.log("Add Note");var t={title:e,description:o,date:(new Date).toLocaleDateString("en-US",{month:"short",day:"numeric"}),timestamp:firebase.database.ServerValue.TIMESTAMP},n=firebase.database().ref("anonymousNotSigned").push().key;console.log(n),window.currentNote=n;var i={};return i[n]=t,firebase.database().ref("anonymousNotSigned").update(i)}),updateNotefunction=((e,o,t)=>{console.log("Update Note");var n={title:o,description:t,date:(new Date).toLocaleDateString("en-US",{month:"short",day:"numeric"}),timestamp:firebase.database.ServerValue.TIMESTAMP},i={};return i[e]=n,firebase.database().ref("anonymousNotSigned").update(i)}),deleteNotefunction=(e=>firebase.database().ref("anonymousNotSigned").child(e).remove())}),signInToGoogle=(()=>{console.log("Sign In to Google!");var e=new firebase.auth.GoogleAuthProvider;firebase.auth().signInWithPopup(e).then(function(e){console.log("success, check now!"),console.log(e.user);var o=new XMLHttpRequest;o.addEventListener("error",function(e){console.log("Failed"),console.log(e.toString())}),o.addEventListener("load",function(e){1==JSON.parse(e.srcElement.response).success?console.log("Sign In Success!"):console.log("Failed to sign In"),location.reload()}),o.open("POST","/set",!0),o.setRequestHeader("Content-Type","application/json"),o.send(JSON.stringify({userEmail:e.user.email,userDisplayName:e.user.displayName}))}).catch(function(e){console.log(e),console.log("Failed to do")})})});</script>

    <!-- Login Page main is different -->
    <!-- The Main -->
    <div id="main">
      <div id="top-nav">
        <% if(theme === 'dark') { %>  
          <div id="logo-header"><img src="pnotes-logo-dark.png"></img></div>
        <% } else { %>
          <div id="logo-header"><img src="pnotes-logo3.png"></img></div>
        <% } %>
        <button id="show-mobile-site" class="btn" onclick=viewMobileSite()>Mobile Site</button>
        <button class="btn" id="create-note-button" onclick=newNoteWindow()>Add Note</button>
        <div id="edit-title-button-div">
          <button class="btn btn-primary hidden" id="edit-title-button" onclick=makeEditTitleBoxVisible()>Edit Title</button>
          <div id="edit-note-title-box" class="hidden">
            <h3>Edit Note Title</h3>
            <input id="edit-note-title-input" value="" placeholder="Enter Note Title">
            <div class="buttons" style="display: flex;">
              <button class="btn cancel">Cancel</button>
              <button class="btn btn-primary save" style="margin-left: auto;">Done</button>
            </div>
          </div>
        </div>
        <button class="btn btn-danger hidden" id="remove-note-button" onclick=openDeleteNoteModal()>Delete Note</button>
        <div class="right-menu">
          <!-- replace with icon -->
          <% if(theme === 'dark') { %>
            <button id="dark-switcher" class="btn">Switch to Light mode</button>
          <% } else { %>
            <button id="dark-switcher" class="btn">Switch to Dark mode</button>
          <% } %>
          <div id="user-email-heading">Welcome Anonymous</div>
          <button id="sign-in-button" class="btn btn-primary" onclick=signInToGoogle()> <i class="fa fa-google" style="padding-right: 4px;"></i>Sign In with Google</button>
        </div>
      </div>

      <!-- Main content contains the title and description -->
      <div id="main-content">
        <div id="sidebar">
          <div id="search-notes-box-container">
            <div id="search-notes-box">
              <span class="search-icon"><i class="fa fa-search"></i></span>
              <div class="search-input-container"><input id="search-input" placeholder="Search Notes" value=""></div>
            </div>
          </div>
          <div id="note-family">
            <div id="startup">
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
        </div>
        <div id="main-content-main">
          <div id="tab-nav" class="hidden">
            <div id="preview-button" class="tab">Preview</div>
            <div id="editing-button" class="tab">Edit</div>
          </div>
          <div id="note-description-content">
            <div id="welcome-message">
              <%- include('include/welcome-message'); %>
            </div>
          </div>
          <div id="note-description-preview" class="hidden">
            <textarea id="note-description-editor" oninput=changeWindowEditorDescription(this) placeholder="Add Note description here.."></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- The delete Modal -->
    <div id="delete-modal" class="modal hidden" style="padding-top: 200px;">
    
      <!-- Modal content -->
      <div class="modal-content" style="max-width: 400px;">
        <!-- Heading and close button -->
        <span class="close">&times;</span>
        <h3 style="margin-top: 5px !important;">Delete Note Warning</h3>
        <p id="modal-message-p">Are You Sure You want to Delete this Note?<p>
        <hr>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel">Close</button>
          <button type="button" class="btn btn-primary confirm-delete">Delete Note</button>
        </div>
      </div>
    </div>

    <!-- Change this line while development for sure -->
    <%- include('include/desktop-end-scripts'); %>
  </body>
</html>
