<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags and title -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pnotes</title>

    <link rel="icon" href="article-24px.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="article-24px.svg" type="image/svg+xml">

    <link rel="icon" href="article-24px.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="article-24px.svg" type="image/svg+xml">

    <!-- Firebase Scripts, currently using app, auth and database for right now! -->
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.14.4/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.14.4/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.14.4/firebase-database.js"></script>
    <!-- <script defer src="/__/firebase/7.14.4/firebase-messaging.js"></script> -->
    <!-- <script defer src="/__/firebase/7.14.4/firebase-storage.js"></script> -->
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/desktop-style.css">

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet"> -->
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Highlight js-->
    <script src="https://cdn.jsdelivr.net/highlight.js/8.4.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.4.0/styles/solarized_light.min.css">
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body class="<%= theme %>">
  
    <script>
      var md = new Remarkable();
      document.addEventListener('DOMContentLoaded', function () {

        // Taken from desktop part
        window.signInEmail = 'anonymousNotSigned';
          const signInUserEmail = 'anonymousNotSigned';
          window.currentNote = '';
          window.editor = { id: '', title: '', description: '' };

          console.log(signInUserEmail);

          // Now call the data extract for only once so as to get the list of datas
          firebase.database().ref(signInUserEmail).orderByChild('timestamp').on('value', function (snapshot) {

              //console.log(snapshot);
              var descNoteList = [];

              snapshot.forEach(function (childSnapshot) {
                  var childKey = childSnapshot.key;
                  var childData = childSnapshot.val();
                  //console.log("childkey", childKey);
                  //console.log("childData", childData);
                  // ...
                  descNoteList.push({ childKey: childKey, childData: childData });

              });

              // Reverse the array
              descNoteList.reverse();

              // Empty the notes data
              window.notesData = {};

              var noteFamily = document.getElementById('note-family');
              noteFamily.innerHTML = '';
              noteFamilyString = '';

              descNoteList.forEach(function (childSnapshot) {
                  var childKey = childSnapshot.childKey;
                  var childData = childSnapshot.childData;

                  noteFamilyString += '<div id="' + childKey + '" class="note-row hoverable" onclick=doOnNoteClick(this) >'
                      + '<div class="note-title">' + childData.title + '</div>'
                      + '<div class="note-date">' + childData.date + '</div>'
                      + '</div>';

                  // Only storing notes description in it
                  window.notesData[childKey] = { description: childData.description, title: childData.title };
              });

              noteFamily.innerHTML = noteFamilyString;

              // make the current note active if present
              if (window.currentNote) {
                try{
                  document.getElementById(window.currentNote).classList.add('is--active');
                  document.getElementById(window.currentNote).classList.remove('hoverable');
                } catch(e) {
                  console.log("Ignore this error, comes at time of delete",e.toString)
                }
              }
          });

          //list(family);

          // Here the firebase is correctly defined purely!
          //console.log(firebase.database.ServerValue.TIMESTAMP);

          // Removed the ones not needed here

        signInToGoogle = () => {
          // Start the sign in Activity!
          console.log("Sign In to Google!");

          // Google sign in
          var provider = new firebase.auth.GoogleAuthProvider();
          firebase.auth().signInWithPopup(provider).then(function (result) {
            // console.log(result.user.email);
            console.log("success, check now!");

            // Add the cookie so that this can be also cleared whether to check wheather user is sign in or not
            var xhttp = new XMLHttpRequest();

            xhttp.addEventListener("error", function (evt) {
              console.log("Failed");
              console.log(evt.toString());
            });

            xhttp.addEventListener("load", function (evt) {

              // console.log(evt);
              // console.log(evt.srcElement);
              // console.log(evt.srcElement.response);
              if (JSON.parse(evt.srcElement.response)['success'] == 1) {
                console.log("Sign In Success!");
              } else {
                console.log("Failed to sign In");
              }
              location.reload();
            });

            // Defining parameters 
            xhttp.open("POST", "/set", true);
            //Send the proper header information along with the request
            xhttp.setRequestHeader("Content-Type", "application/json"); // Necessary for POST
            xhttp.send(JSON.stringify({ userEmail: result.user.email }));

          }).catch(function (err) {
            console.log(err);
            console.log("Failed to do");
          });
        }

        $('#sign-in-anonymous').click(function() {
          // Add the cookie so that this can be also cleared whether to check wheather user is sign in or not
          var xhttp = new XMLHttpRequest();

          xhttp.addEventListener("error", function (evt) {
            console.log("Failed");
            console.log(evt.toString());
          });

          xhttp.addEventListener("load", function (evt) {

            // console.log(evt);
            // console.log(evt.srcElement);
            // console.log(evt.srcElement.response);
            if (JSON.parse(evt.srcElement.response)['success'] == 1) {
              console.log("Sign In Success!");
            } else {
              console.log("Failed to sign In");
            }
            location.reload();
          });

          // Defining parameters 
          xhttp.open("POST", "/set", true);
          //Send the proper header information along with the request
          xhttp.setRequestHeader("Content-Type", "application/json"); // Necessary for POST
          xhttp.send(JSON.stringify({ userEmail: 'anonymousUserPriyam' }));

        });
      });
    </script>
  
    <div id="main">
      <div id="top-nav">
        <% if(theme === 'dark') { %>  
          <div id="logo-header"><img src="pnotes-logo-dark.png"></img></div>
        <% } else { %>
          <div id="logo-header"><img src="pnotes-logo3.png"></img></div>
        <% } %>
        <button id="show-mobile-site" class="btn" onclick=viewMobileSite()>Mobile Site</button>
        <div class="right-menu">
          <!-- replace with icon -->
          <% if(theme === 'dark') { %>
            <button id="dark-switcher" class="btn">Switch to Light mode</button>
          <% } else { %>
            <button id="dark-switcher" class="btn">Switch to Dark mode</button>
          <% } %>
          <button id="sign-in-anonymous" class="btn btn-primary">Sign in as anonymous</button>
          <button id="sign-in-button" class="btn btn-primary" onclick=signInToGoogle()> <i class="fa fa-google" style="padding-right: 4px;"></i>Sign In with Google</button>
        </div>
      </div>

      <!-- Main content contains the title and description -->
      <div id="main-content">
        <div id="sidebar">
          <div id="search-notes-box-container">
            <div id="search-notes-box">
              <span class="search-icon"><i class="fa fa-search"></i></span>
              <div class="search-input-container"><input id="search-input" placeholder="Search Notes" value=""></div>
            </div>
          </div>
          <div id="note-family">
            <div id="startup">
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
        </div>
        <div id="main-content-main">
          <div id="tab-nav" class="hidden">
            <div id="preview-button" class="tab">Preview</div>
            <div id="editing-button" class="tab">Edit</div>
          </div>
          <div id="note-description-content">
            <div id="welcome-message">
              <h1>Welcome Page</h1>
              <p>Start by selecting Welcome note from the sidebar or create a new Note 😀!</p>
            </div>
          </div>
          <div id="note-description-preview" class="hidden">
            <textarea id="note-description-editor" oninput=changeWindowEditorDescription(this) placeholder="Add Note description here.."></textarea>
          </div>
        </div>
      </div>
    </div>

      <!-- No Delete modal for not login -->

    <!-- Scripts needed to do the tasks -->
    <script src="js/login-before-body.js"></script>

    <!-- JQuery for resize -->
    <script src="js/before-body-jquery.js"></script>
  </body>
</html>
