<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags and title -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pnotes</title>

    <link rel="icon" href="article-24px.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="article-24px.svg" type="image/svg+xml">

    <link rel="icon" href="article-24px.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="article-24px.svg" type="image/svg+xml">

    <!-- Firebase Scripts, currently using app, auth and database for right now! -->
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.14.4/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.14.4/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.14.4/firebase-database.js"></script>
    <!-- <script defer src="/__/firebase/7.14.4/firebase-messaging.js"></script> -->
    <!-- <script defer src="/__/firebase/7.14.4/firebase-storage.js"></script> -->
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/desktop-style.min.css">

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet"> -->
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Highlight js-->
    <script src="https://cdn.jsdelivr.net/highlight.js/8.4.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.4.0/styles/solarized_light.min.css">
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body class="<%= theme %>">
  
    <script>var md=new Remarkable;function viewMobileSite(){window.location.href="/mobile"}document.addEventListener("DOMContentLoaded",function(){window.signInEmail="anonymousNotSigned";window.currentNote="",window.editor={id:"",title:"",description:""},console.log("anonymousNotSigned"),firebase.database().ref("anonymousNotSigned").orderByChild("timestamp").on("value",function(e){var o=[];e.forEach(function(e){var n=e.key,t=e.val();o.push({childKey:n,childData:t})}),o.reverse(),window.notesData={};var n=document.getElementById("note-family");if(n.innerHTML="",noteFamilyString="",o.forEach(function(e){var o=e.childKey,n=e.childData;noteFamilyString+='<div id="'+o+'" class="note-row hoverable" onclick=doOnNoteClick(this) ><div class="note-title">'+n.title+'</div><div class="note-date">'+n.date+"</div></div>",window.notesData[o]={description:n.description,title:n.title}}),n.innerHTML=noteFamilyString,window.currentNote)try{document.getElementById(window.currentNote).classList.add("is--active"),document.getElementById(window.currentNote).classList.remove("hoverable")}catch(e){console.log("Ignore this error, comes at time of delete",e.toString)}}),signInToGoogle=(()=>{console.log("Sign In to Google!");var e=new firebase.auth.GoogleAuthProvider;firebase.auth().signInWithPopup(e).then(function(e){console.log("success, check now!"),console.log(e.user);var o=new XMLHttpRequest;o.addEventListener("error",function(e){console.log("Failed"),console.log(e.toString())}),o.addEventListener("load",function(e){1==JSON.parse(e.srcElement.response).success?console.log("Sign In Success!"):console.log("Failed to sign In"),location.reload()}),o.open("POST","/set",!0),o.setRequestHeader("Content-Type","application/json"),o.send(JSON.stringify({userEmail:e.user.email,userDisplayName:e.user.displayName}))}).catch(function(e){console.log(e),console.log("Failed to do")})}),$("#sign-in-anonymous").click(function(){var e=new XMLHttpRequest;e.addEventListener("error",function(e){console.log("Failed"),console.log(e.toString())}),e.addEventListener("load",function(e){1==JSON.parse(e.srcElement.response).success?console.log("Sign In Success!"):console.log("Failed to sign In"),location.reload()}),e.open("POST","/set",!0),e.setRequestHeader("Content-Type","application/json"),e.send(JSON.stringify({userEmail:"anonymousUserPriyam",userDisplayName:"Priyam"}))})});</script>
    <script></script>
  
    <script src="js/loadTheme.js"></script>

    <div id="main">
      <div id="top-nav">
        <% if(theme === 'dark') { %>  
          <div id="logo-header"><img src="pnotes-logo-dark.png"></img></div>
        <% } else { %>
          <div id="logo-header"><img src="pnotes-logo3.png"></img></div>
        <% } %>
        <button id="show-mobile-site" class="btn" onclick=viewMobileSite()>Mobile Site</button>
        <div class="right-menu">
          <!-- replace with icon -->
          <% if(theme === 'dark') { %>
            <button id="dark-switcher" class="btn">Switch to Light mode</button>
          <% } else { %>
            <button id="dark-switcher" class="btn">Switch to Dark mode</button>
          <% } %>
          <button id="sign-in-anonymous" class="btn btn-primary">Sign in as anonymous</button>
          <button id="sign-in-button" class="btn btn-primary" onclick=signInToGoogle()> <i class="fa fa-google" style="padding-right: 4px;"></i>Sign In with Google</button>
        </div>
      </div>

      <!-- Main content contains the title and description -->
      <div id="main-content">
        <div id="sidebar">
          <div id="search-notes-box-container">
            <div id="search-notes-box">
              <span class="search-icon"><i class="fa fa-search"></i></span>
              <div class="search-input-container"><input id="search-input" placeholder="Search Notes" value=""></div>
            </div>
          </div>
          <div id="note-family">
            <div id="startup">
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
          </div>
        </div>
        <div id="main-content-main">
          <div id="tab-nav" class="hidden">
            <div id="preview-button" class="tab">Preview</div>
            <div id="editing-button" class="tab">Edit</div>
          </div>
          <div id="note-description-content">
            <div id="welcome-message">
              <h1>Welcome Page</h1>
              <p>Start by selecting Welcome note from the sidebar or create a new Note 😀!</p>
            </div>
          </div>
          <div id="note-description-preview" class="hidden">
            <textarea id="note-description-editor" oninput=changeWindowEditorDescription(this) placeholder="Add Note description here.."></textarea>
          </div>
        </div>
      </div>
    </div>

      <!-- No Delete modal for not login -->

    <!-- Scripts needed to do the tasks -->
    <script src="js/login-before-body.min.js"></script>

    <!-- JQuery for resize -->
    <script src="js/before-body-jquery.min.js"></script>
  </body>
</html>
