<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta tags and title -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Pnotes | Create Awesome Notes</title>

  <!--  Icons -->
  <link rel="icon" href="article-24px.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="article-24px.svg" type="image/svg+xml">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/laptop-style.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">

  <link rel="preload" href="https://cdn.jsdelivr.net/highlight.js/8.4.0/styles/solarized_light.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.4.0/styles/solarized_light.min.css"></noscript>

</head>

<body>

  <script>const cuserEmail = '<%= userEmail %>';</script>

  <!-- The Main -->
  <div id="main">
    <div id="top-nav">

      <div title="Hide Sidebar" id="sidebar-toggler"><img id="side-img" src="/images/object.svg"
          alt="sidebar-collapse" /></div>

      <div id="logo-header"><img src="pnotes-logo-dark.png" alt="pnotes-logo"></img></div>
      <div id="top-nav-wrap">
        <div id="top-nav-toggler"><button class="btn">Toggle</button></div>
        <div id="top-nav-items" class="top-nav-hide">
          <button class="btn" id="create-note-button" onclick=newNoteWindow()>Add Note</button>
          <div id="edit-title-button-div">
            <button class="btn btn-primary hidden" id="edit-title-button" onclick=makeEditTitleBoxVisible()>Edit
              Title</button>
            <div id="edit-note-title-box" class="hidden">
              <h3>Edit Note Title</h3>
              <input id="edit-note-title-input" value="" placeholder="Enter Note Title">
              <div class="buttons" style="display: flex;">
                <button class="btn cancel">Cancel</button>
                <button class="btn btn-primary save" style="margin-left: auto;">Done</button>
              </div>
            </div>
          </div>
          <button class="btn btn-danger hidden" id="remove-note-button" onclick=openDeleteNoteModal()>Delete
            Note</button>
          <div class="right-menu">
            <!-- replace with icon -->
            <button id="dark-switcher" class="btn">Light mode</button>
            <div id="user-email-heading"><%= displayName %></div>
            <% if(islogin) { %>
            <button class="btn btn-danger" id="sign-out-button" onclick=signOutFromGoogle()>Sign Out</button>
            <% } else { %>
            <button id="sign-in-button" class="btn btn-primary" onclick=signInToGoogle()><em
                style="padding-right: 4px;"></em><img alt="google-sign-in" src="/images/google.svg" height="15px"
                width="20px"> SIGN
              IN</button>
            <% } %>
          </div>
        </div>
      </div>

    </div>

    <!-- Main content contains the title and description -->
    <div id="main-content">
      <div class="split" id="sidebar">
        <div id="search-notes-box-container">
          <div id="search-notes-box">
            <span class="search-icon"><i class="fa fa-search"></i></span>
            <div class="search-input-container"><input id="search-input" placeholder="Search Notes" value=""
                oninput=ForSearchingNote(this)></div>
          </div>
        </div>
        <div id="note-family">
          <div id="startup">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>

      <div class="split" id="main-content-main">
        <div id="tab-nav" class="hidden">
          <div id="preview-button" class="tab">Preview</div>
          <div id="editing-button" class="tab">Edit</div>

          <div id="right-tab-menu">
            <div id="typing-img-c" class="hidden">
              Typing
              <img title="Saved" id="typing-img" src="images/typing.svg" alt="Typing">
            </div>
            <div id="saved-img-c">
              <img title="Saved" id="saved-img" src="images/saved.svg" alt="Note is Saved">
            </div>
            <div id="download-img-c">
              <img title="Download HTML" id="download-img" src="images/download.svg" alt="Download Button">
            </div>
            <div id="share-img-c">
              <img title=" Share Note" id="share-img" src="images/share.svg" alt="Share Button">
            </div>
          </div>
        </div>
        <div id="note-description-content">
          <div id="welcome-message">
            <%- include('include/welcome-message'); %>
          </div>
        </div>
        <div id="note-description-preview" class="hidden">
          <textarea id="note-description-editor" oninput=changeWindowEditorDescription(this)
            placeholder="Add Note description here.."></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- The delete Modal -->
  <div id="delete-modal" class="modal hidden" style="padding-top: 200px;">

    <!-- Modal content -->
    <div class="modal-content" style="max-width: 400px;">
      <!-- Heading and close button -->
      <span class="close">&times;</span>
      <h3 style="margin-top: 5px !important;">Delete Note Warning</h3>
      <p id="modal-message-p">Are You Sure You want to Delete this Note?
      <p>
        <hr>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel">Close</button>
        <button type="button" class="btn btn-primary confirm-delete">Delete Note</button>
      </div>
    </div>
  </div>


  <!-- Firebase Scripts, currently using app, auth and database for right now! -->
  <script src="/__/firebase/7.14.4/firebase-app.js"></script>
  <script src="/__/firebase/7.14.4/firebase-auth.js"></script>
  <script src="/__/firebase/7.14.4/firebase-database.js"></script>
  <!-- initialize the SDK after all desired features are loaded -->
  <script src="/__/firebase/init.js"></script>

  <script src="js/shortcuts.js"></script>
  <script src="js/theme.js"></script>
  <script src="js/laptop-end.js"></script>

  <!-- Remarkable and all -->
  <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
  <script>var md = new Remarkable({ html: !0, breaks: true, linkify: true });</script>

  <!-- Highlight js-->
  <script src="https://cdn.jsdelivr.net/highlight.js/8.4.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
  <script>
    Split(['#sidebar', '#main-content-main'], {sizes: [25, 75],});
    if (screen.width <= 720) {byId('sidebar').style.width = "100vw";}
  </script>

</body>

</html>